.landingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 40px;
}

.landingBox {
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  border: solid 4px black;
  background-color: #fdfcff;
  color: black;
  max-width: 75%;
}

a {
  text-decoration: none;
  background-color: #fdfcff;
  padding: 10px 20px 10px 20px;
  border: solid 4px black;
  border-radius: 10px;
}

a:hover {
  background-color: #7668b6;
  color: #fdfcff;
}
